.sliderElement {
  width: 100%;
  min-height: 285px;
  margin: 0 auto;
  border-radius: 30px;

  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
  padding: 20px 15px;
  overflow: hidden;
  position: relative;
  border-radius: 30px;
  border: 1px solid #1c1f27;
  box-shadow: 2px 2px 0px 0px #1c1f27;

  .container {
    .head {
      padding: 5px 20px 5px 10px;
      gap: 10px;
      border-radius: 30px;
      border: 1px solid #1c1f27;
      background: #e0c6e4;
      svg {
        animation: animateSvg 4s ease-in-out infinite alternate;
      }
    }
    .link {
      position: relative;
      transform: rotate(-30.112deg);
      &:hover {
        .hidden {
          transform: translateX(20px);
          opacity: 0;
          transform: scale(1);
        }
      }
      .arrow,
      .hidden {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .arrow {
        background-color: white;
      }
      .hidden {
        transition: all 0.4s;
        position: absolute;
        background-color: #1c1f27;
        right: 0px;
        top: 0;
        opacity: 1;
        z-index: 10;
      }
    }
  }
  .label {
    display: inline-flex;
    padding: 5px 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 96px;
    border: 1px solid #b889d8;
    background: #fff;
    font-family: "Roboto", sans-serif;
    margin-top: 6px;
  }
}
