.item {
  width: 99.5%;
  max-width: 300px;
  height: 386px;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 58px;
  border-radius: 30px;
  border: 1px solid #1c1f27;
  background: #e6f3f9;
  box-shadow: 2px 2px 0px 0px #1c1f27;
  margin: 8px auto;

  .title {
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: center;

    .svg {
      animation: animateSvg 4s ease-in-out infinite alternate;
    }
    p {
      color: #1c1f27;
      font-size: 24px;
      font-style: normal;
      font-weight: 600;
      line-height: 130%;
    }
  }
  .titles {
    font-family: "Roboto", sans-serif;
    // padding: 0 10%;
    span {
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
    }

    .el1 {
      display: flex;
      width: 224px;
      height: 39px;
      transform: rotate(14.687deg) translateX(6%);
      justify-content: center;
      align-items: center;
      gap: 10px;
      flex-shrink: 0;
      border-radius: 30px;
      border: 1px solid #b889d8;
      color: #fff;
      background: #1c1f27;
      animation: animateEl1 2s ease-in-out infinite alternate;
    }
    .el2 {
      display: flex;
      width: 123px;
      height: 39px;
      justify-content: center;
      align-items: center;
      gap: 10px;
      flex-shrink: 0;
      border-radius: 30px;
      border: 1px solid #000;
      background: #e6f3f9;
    }
    .el3 {
      display: flex;
      width: 194px;
      height: 39px;
      transform: rotate(-16deg) translateY(6px);
      padding: 10px;
      justify-content: center;
      align-items: center;
      gap: 10px;
      flex-shrink: 0;
      border-radius: 30px;
      border: 1px solid #b889d8;
      background: #fff;
      animation: animateEl2 2s ease-in-out infinite alternate;
    }
    .el4 {
      display: flex;
      width: 155px;
      height: 39px;
      transform: rotate(12.5deg) translateX(70px) translateY(10px);
      justify-content: center;
      align-items: center;
      gap: 10px;
      flex-shrink: 0;
      border-radius: 30px;
      border: 1px solid #1c1f27;
      color: #fff;
      background: #b889d8;
    }
    .el5 {
      display: flex;
      width: 117px;
      height: 39px;
      justify-content: center;
      align-items: center;
      gap: 10px;
      flex-shrink: 0;
      border-radius: 30px;
      border: 1px solid #1c1f27;
      background: #e0c6e4;
      color: #fff;
      transform: translateY(18px);
    }
  }
}

@keyframes animateSvg {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(150deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

@keyframes animateEl1 {
  0% {
    transform: rotate(14.687deg) translateX(6%);
  }
  100% {
    transform: rotate(9.687deg) translateX(6%);
  }
}

@keyframes animateEl2 {
  0% {
    transform: rotate(-11deg) translateY(6px);
  }
  100% {
    transform: rotate(-16deg) translateY(6px);
  }
}
