.footer {
  min-height: 343px;
  flex-shrink: 0;
  border-radius: 30px;
  border: 1px solid #1c1f27;
  background: #b889d8;
  box-shadow: 2px 2px 0px 1px #1c1f27;
  margin: 20px 30px;
  font-family: "Roboto", sans-serif;
  color: #fff;
  @media screen and (min-width: 1024px) {
    min-height: 170px;
    width: 90%;
    max-width: 1250px;
    margin: 20px auto;
  }
  .links {
    margin: 1.4rem auto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @media screen and (min-width: 1024px) {
      margin: 0rem auto;
    }
    li {
      margin: 5px 0;
    }
  }
  .social {
    p {
      text-align: center;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      margin-bottom: 2px;
    }
  }

  .copy {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @media screen and (min-width: 1024px) {
      flex-direction: row-reverse;
      width: 100%;
      justify-content: space-between;
      align-items: center;
    }
  }
}
