.social {
  font-family: "Roboto", sans-serif;
  p {
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 2px;
    color: #fff;
  }
}
